<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
  <strong>Type:</strong>
  <%= @tag.tag_type %>
  <strong>Desc:</strong>
  <%= @tag.desc %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>

<% if @images.any? %>
  <p> 
     <%= render partial: "images/image", locals: {image: @images}%>
 </p>
<% end %>
