<%- model_class = Identity -%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @identity.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:picture) %>:</strong></dt>
  <dd><%= image_tag(@identity.picture.url, size: "200x200") if @identity.picture? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dob) %>:</strong></dt>
  <dd><%= @identity.dob %></dd>
  <dt><strong><%= model_class.human_attribute_name(:team) %>:</strong></dt>
  <dd><%= @identity.team %></dd>
  <dt><strong><%= model_class.human_attribute_name(:desc) %>:</strong></dt>
  <dd><%= @identity.desc %></dd>
</dl>

<div id="images">
<%= render :partial => 'images/image' %>
</div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              identities_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_identity_path(@identity), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              identity_path(@identity),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
